<ion-header class="checklist-header">

  <ion-navbar primary>
    <ion-title>Inspection Checklist</ion-title>
  </ion-navbar>

  <ion-toolbar class="progressButtonContainer">
    <ion-grid>
      <ion-row>
        <ion-col>
          <button (click)="startInspection()"
            *ngIf="inspection.status == 'NOT_STARTED'"
            class="button button-block button-balanced">
            <i class="fa fa-play"></i>&nbsp;&nbsp;Begin
          </button>
          <button (click)="suspendInspection()"
            *ngIf="inspection.status == 'IN_PROGRESS'"
            class="button  button-block button-energized">
            <i class="fa fa-pause"></i>&nbsp;&nbsp;Suspend
          </button>
          <button (click)="startInspection()"
            *ngIf="inspection.status == 'SUSPENDED'"
            class="button button-block button-balanced">
            <i class="fa fa-play"></i>&nbsp;&nbsp;Resume
          </button>
        </ion-col>
        <ion-col>
          <div class="elapsedTimeContainer" *ngIf="inspection.status == 'IN_PROGRESS' || inspection.status == 'SUSPENDED'">
            <!--<div class="elapsedTimeTitle"></div>
            <div class="elapsedTimeValue"></div>-->
            
            <div class="elapsedTimeTitle">Elapsed time:</div> 
            <div class="elapsedTimeValue">{{data.durationForDisplay}}</div> 
            
          </div>
        </ion-col>
        <ion-col>
          <button (click)="completeInspection()" class="button button-block blue light done">
            <i class="fa fa-check"></i>&nbsp;&nbsp;Done
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content class="checklist-page">
	<div class="pageContentContainer">
	
		<div class="mainContentContainerBox">
			<div class="listItem checklistItem" (click)="selectChecklistItem(checklistItem)" [ngClass]="{selected: selectedItem == checklistItem}" *ngFor="let checklistItem of inspection.checklistItems">
				<div class="checklistItemContent">
					<a (click)="setChecklistItemComplete(checklistItem)" class="checklistStatus">
						<i class="fa"
							[ngClass]="{'fa-circle-thin': !checklistItem.status,
											   'fa-times-circle': (checklistItem.status == 'FAILED'),
											   'fa-check-circle': (checklistItem.status == 'PASSED'),
											   last: ($index == inspection.checklistItems.length-1)}"></i>
	
					</a>
					<div class="value checklistItemDescription">{{checklistItem.description}}</div>
					<div class="checklistItemIncidentContainer" *ngIf="(checklistItem.incidents && checklistItem.incidents.length > 0)">
						<button ion-item class="listItem incident" [ngClass]="{last: $index == (inspection.incidents.length-1)}" *ngFor="let incident of getIncidentsForChecklistItem(checklistItem)" (click)="selectIncident(incident)">
							<i class="fa fa-circle severityIndicator" [ngClass]="incident.severity"></i>
							<span class="value">{{incident.name}}</span>
							<!--<div class="icon right">
								<i class="fa fa-chevron-right"></i>
							</div>-->
						</button>
					</div>
					<div *ngIf="selectedItem == checklistItem && showDetails" class="checklistItemDetails">{{(!checklistItem.details ? checklistItem.description : checklistItem.details)}}</div>
				</div>
				<div class="checklistItemButtonBar" *ngIf="selectedItem == checklistItem">
					<ion-grid>
						<ion-row>
							<ion-col>
								<button class="button-small button-block blue light" (click)="toggleShowDetails()">
									<i class="fa fa-bars"></i> <span *ngIf="!showDetails"
										class="text">Show details</span> <span *ngIf="showDetails" class="text">Hide details</span>
								</button>
							</ion-col>
							<ion-col>
								<button class="button button-small button-block button-assertive" (click)="addIncident(checklistItem)">
									<i class="fa fa-warning"></i> <span class="text">Add incident</span>
								</button>
							</ion-col>
						</ion-row>
					</ion-grid>
				</div>
			</div>
		</div>
	
	</div>
	
</ion-content>
