.incident-header {

}

.incident-page {

    .item {
        padding-left: 0;

        .item-inner {
            padding-left: 16px;
        }

        .itemContent {
            width: 100%;
            text-align: left;
            padding-bottom: 10px;
        }
    }
    // input[type=text]{
    //     width: 100%;
    // }

    textarea {
        width: 100%;
    }

    .recordAudioButton {
        float: right;
        min-width: 30px;
    }
    .spinnerContainer {
        padding-top: 5px;
    }

    .incidentPhotoContainer {
    }

    .photoThumbnail {
        display: inline-block;
        line-height: 2.5em;
        height: 2.5em;
        font-size: 2.5em;
        color: #929292;
        background-color: #d9d9d9;
        padding: 0;
        border-radius: 4px;
        width: 60px;
        margin: 5px;
        text-align: center;
        vertical-align: middle;
        background-size: cover;
        background-position: center center;
    }

    .severitySelection {
        ion-grid {
            padding: 0;
        }
        ion-col {
            padding: 0;
        }
        
        .incidentSeverityOption {
            margin: 5px;
            line-height: 3.0em;
            border-radius: 3px;
            text-align: center;	
            color: white;
            font-size: 0.7em;
            opacity: 0.3;	
            cursor: pointer;
             
            a {
                padding: 12px 15px;
                color: white
            }
        }

        .incidentSeverityOption.yellow {	
            background-color: color($colors, yellow);
            a {
                color: #828282;
            }
        }
        .incidentSeverityOption.orange {
            background-color: color($colors, orange);
        }
        .incidentSeverityOption.red {
            background-color: color($colors, red);
        }

        .incidentSeverityOption.selected {
            opacity: 1;
            a {
                font-weight: bold;
            }
        }
    }
    
}

