  <ion-content padding>
    <div class="modalContent">
      <div class="logoContainer">
        <img src="images/logo-white.png">
      </div>
      <div class="formContainer">
        <ion-item>
          <ion-label light floating>Username</ion-label>
          <ion-input light type="text" [(ngModel)]="username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label light floating>Password</ion-label>
          <ion-input light class="light" type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
        
      </div>
      <div class="spinnerContainer"></div>
      
    </div> 
    <div class="buttonBar"> 
      <ion-spinner></ion-spinner>
      <button (click)="login()" accent>Login</button>
    </div>
  </ion-content>`