@media only screen and (min-height: 600px) and (min-width: 768px) {
    .modal-wrapper {
        position: absolute;
        top: calc(50% - (350px/2));
        left: calc(50% - (500px/2));
        width: 500px;
        height: 350px;
    }
} 
authentication-modal {
    ion-content {

        // min-width: 900px;
        // margin: auto;
        // margin-top: 100px;
        // margin-bottom: 100px;
        background: #0089C1;

        .logoContainer {
            text-align: center;
            img {
                width: 300px;
            }
        }

        .item {
            background-color: transparent;
        }
    }

    .spinnerContainer {
        height: 32px;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        text-align: center;
        z-index: 1;
    }

    .buttonBar {
        position: absolute;
        left: 15px;
        right: 15px;
        bottom: 15px;
        text-align: right;

        ion-spinner {
            vertical-align: text-top;
            margin-right: 10px;
            svg * {
                stroke: white !important;
            }
        }
    }
}