.main-page {

    background-color: #f2f2f2;

    &.blur * {
        -webkit-filter: -webkit-blur 0.5s ease;
    }
    header {
        background-color: #0089C1;
        border-bottom: 10px solid #00AFDC;
        height: 75px;
    //    padding-left: 70px;
        padding-right: 15px;

        .headerContents {
            display: flex;
            align-items: center;
            height: 100%;
        }
        
        img.inspectorLogo {
            height: 65px;
            margin: 0 0px 0 0px;
        }

        .title {
            color: white;
            font-size: 2em;
            flex-grow: 1;
            position: relative;
            top: -2px;
        }
        
        .welcomeText {
            font-size: 1em;
            font-weight: normal;
            padding-right: 10px;      
            color: white;  
        }
        img.ibmLogo {
            width: 100px;
        }

        button.moreButton {
            height: 42px;
            width: 42px;
            position: relative;
            margin-right: 10px;
        }
    }

    .mainContent {
        .leftColumn {
            overflow-y: auto;
            padding-left: 2px;
            padding-right: 2px;
            position: relative;
        }
        ion-card {
            margin: 0;
            // min-height: 0;
            // margin-bottom: 10px;
            width: 100%;
            height: 100%;
            
            ion-card-header {
                cursor: pointer;
                
                ion-icon {
                    font-size: 1.3em;
                    float: right;
                }
            }
            ion-card-header.level1 {
                background-color: #80D0F7;
            }

            ion-card-header.level2 {
                background-color: #00AFDC;
            }

            ion-card-header.level3 {
                background-color: #0089C1;
            }

            ion-card-header.level4 {
                background-color: #003E6A;
            }
            
            ion-card-header.results {
                background-color: #006058;
            }

            ion-card-header {
                font-size: 20px;
                font-weight: bold;
                color: white;
            }
            
            .cardContent {
                width: initial;  
                padding: 7px;
                
            }

            .inspection {
                padding: 10px 15px;
                cursor: pointer;
                color: #444444;

                .name {
                    font-weight: bold;
                    font-size: 1.1em;
                }
            }
            .inspection:HOVER {
                background-color: rgba(230, 246, 254, 1);
            }
            .inspection.selected {
                background-color: rgba(0, 175, 220, 0.15);
            }

            .inspector {
                padding: 10px 15px;
                cursor: pointer;
                color: #444444;

                .icon {
                    width: 15px;
                    display: inline-block;
                }

                .name {
                    font-weight: bold;
                    font-size: 1.1em;
                }
                .content {
                    padding-left: 20px;
                }
            }
            .inspector:HOVER {
                background-color: rgba(230, 246, 254, 1);
            }           
            .inspector.selected {
                background-color: rgba(0, 175, 220, 0.15);
            } 
                    
            .totalFooter {
                background-color: #006058;
                color: white;
                padding: 10px;
                
                .totalValue {
                    font-size: 1.2em;
                    font-weight: bold;
                }
            }
        }
    }    
}
