.stepUpAuthenticationModal {
    padding: 20px;
    
    ion-content {
        background-color: white;
    }

    .horizontalHeaderBar {
        -webkit-transform: rotate(-90deg);
        position: absolute;
        text-align: center;
        -webkit-transform-origin: right bottom 0;
        right: 0;
        padding: 10px;
        font-size: 16px;
        background: #f2f2f2;	
        top: -40px;
        
    }

    .horizontalHeaderBar .label {
        -webkit-transform: scaleX(-1) scaleY(-1);
    }

    .signatureButtonContainer {
        -webkit-transform: rotate(90deg);
        position: absolute;
        text-align: right;
        top: 0px;
        left: 63px;
        -webkit-transform-origin: left top 0;
        background: #f2f2f2;
        padding: 8px;
        
    }

}