.login-page {
    background-color: #3b88c3;
}
.loginPage {
    background-color: color($colors, primary);

    .pageContent {
        padding: 0 25px;
    }
    
    .logo {
        height: 125px;
        background-size: 100%;
        max-width: 350px;
        background-image: url(../../images/logo-white.png);
        background-repeat: no-repeat;
        background-position: center center;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 0px;
    }
    .loginBox {
        background-color: rgba(0, 0, 0, 0.4);
        padding: 12px;
        border-radius: 5px;
        margin: 0 auto;
        padding-bottom: 8px;
        max-width: 350px;
        
        .inputContainer {
            background-color: color($colors, white);
            border-radius: 0 0 2px 2px;
            
            input {
                border: 0;
                text-align: center;
                padding: 20px;
                font-size: 1.3em;
                width: 100%; 
                background-color: transparent;
            }      
        }
        .inputContainer:first-child {
            border-bottom: 1px solid color($colors, light);
            border-radius: 2px 2px 0 0;
        }
        .buttonContainer {
            padding-top: 5px;    
        }
        
        .loginSpinnerContainer {
            text-align: center;
            
            ion-spinner svg * {
                stroke: #FFFFFF;
            }
        }
    }
    
    .errorBox {
        margin: 0 auto;
        max-width: 350px;
        box-shadow: 2px 2px 3px color($colors, medium);
        margin-top: 15px;
        background-color: color($colors, assertive);
        color: color($colors, white);
        padding: 10px;
        text-align: center;
        border-radius: 2px;
    }
    
}
.feedback {
    img {
        width: 60px;
    }
    text-align: center;
    .description {
        color: white;
        padding: 5px 10px 15px;
    }
}